body{
  font-family: Arial;
  background:white;
}

.container{
  padding:40px;
}

.nav{
  display:flex;
  gap:20px;
  background:#ADD8E6;
  padding:15px;
}

.sidebar{
  width:200px;
  background:#f0f0f0;
  padding:20px;
}

.dashboard{
  display:flex;
}

.content{
  padding:30px;
}

button{
  margin:10px;
  padding:10px 15px;
}
