body{
font-family: Arial;
margin:0;
background:#ffffff;
}

.nav{
background:#ADD8E6;
padding:15px;
display:flex;
gap:20px;
}

.container{
padding:40px;
}

.dashboard{
display:flex;
}

.sidebar{
width:200px;
background:#f0f0f0;
padding:20px;
height:100vh;
}

.content{
padding:30px;
flex:1;
}

button{
padding:10px 15px;
margin-top:10px;
cursor:pointer;
}
